* {
  margin: 0;
  padding: 0;
  font-size: 0.9375rem;
  font-family: sans-serif;
}
body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  align-items: center;
}

.inner-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  background-color: hsl(0, 0%, 100%);
}

h3,
p {
  margin: 1.5rem 0;
  text-align: center;
  width: 90%;
  margin: 1rem auto;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 0.8rem;
}
.qr-container {
  width: 90%;
  height: auto;
  border-radius: 5px;
}

.qr-pic {
  width: 90%;
  height: auto;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
